@font-face {
    font-family: runes;
    src: url(./AngarsRunes_PERSONAL.ttf);
  }



#info {
    display: flex;
    width: 80%;
    align-items: center;
}

#info div {
    display: flex;
    width: 33%;
}

#info input {
    margin-right: 1%;
    margin-left: 1%;
}

#carac {
    display: flex;
    flex-direction: column;
}

#carac div {
    display: flex;
    margin-bottom: 1%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#carac div span {
    width : 20%;
}
#carac input {
    width: 10%;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 1%;
    margin-left: 1%;
}

#title_comp {
    display: flex;
}

#title_comp div {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#title_comp select {
    height: 1.6em;
}

#Description {
    width: 70%;
    align-items: baseline;
}

#Description input {
    width: 100%;
}

#compétences {
    display: flex;
    border: 4mm solid rgba(95, 34, 6, 0.322);
    flex-direction: column;
    padding: 15px;
}

body {
 font-family: runes;
 font-size: 40px;
 background-image: url("./v805-kul-14.jpg");


}

h1 {
    font-size: 60px;
    align-self: center;
    filter: brightness(2);
    color: rgb(63, 5, 5);
}

span {
    filter: brightness(2);
    font-size: 40px;
    color: black;
}

.all-carac {
    display: flex;
}

#compétences{
    display: flex;
}
.title_section {
    display: flex;
    flex-direction: column;
}

input{
    background: transparent;
    border: none;
    font-size: 20px;
    width: 20%;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 1%;
    margin-left: 1%;
    height: 26px;
}

select {
    background: transparent;
    border: none;
}

label {
    font-size: 50px;
}

button {
    font-family: runes;
    background: transparent;
    border: none;
    font-size: 45px;
}

button:hover {
    color: blue;
}

#skill_name input {
    width: 80%;
}