@font-face {
    font-family: runes;
    src: url(./AngarsRunes_PERSONAL.ttf);
  }



#info {
    display: flex;
    width: 80%;
}

#info input {
    margin-right: 1%;
    margin-left: 1%;
}

#carac {
    display: flex;
    flex-direction: column;
}

#carac div {
    display: flex;
    margin-bottom: 1%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#carac div span {
    width : 20%;
}
#carac input {
    width: 10%;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 1%;
    margin-left: 1%;
}

#title_comp {
    display: flex;
}

#title_comp div {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#title_comp select {
    height: 1.6em;
}

#Description {
    width: 70%;
    align-items: baseline;
}

#Description input {
    width: 100%;
}

#compétences {
    display: flex;
    border: 4mm solid rgba(95, 34, 6, 0.322);
    flex-direction: column;
    padding: 15px;
}

body {
 font-family: runes;
 font-size: 40px;
}

h1 {
    font-size: 60px;
    align-self: center;
}

.all-carac {
    display: flex;
}

#compétences{
    display: flex;
}
.title_section {
    display: flex;
    flex-direction: column;
}